@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Caveat:wght@600;700&family=Open+Sans:wght@300;400&display=swap');

html,
body {
  color: #0a3556;
  max-width: 800px;
  width: 100%;
  margin: auto;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #d7e5ee;
}

hr {
  opacity: 0.3;
  width: 100%;
  margin-left: auto;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right,
      rgba(0, 0, 0, 0),
      rgba(9, 84, 132),
      rgba(0, 0, 0, 0));
  margin-right: auto;
}

.ul-2-cols {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

ul {
  list-style: none;
}

.ul-2-cols {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* Две колонки на ПК */
  gap: 10px;
  /* Расстояние между элементами */
}

.ul-2-cols li {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px 10px;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
}

.info-small {
  font-size: 14px;
  font-weight: 500;
}

.fs-20 {
  font-size: 20px;
}

.font-caveat {
  font-family: 'Caveat', cursive;
}

.font-amatic-sc {
  font-family: 'Amatic SC', cursive;
}

.page-header-text {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 48px;
  margin: 0px;
}

.flex-parent {
  display: flex;
}

.flex-child {
  background: #ccc;
  text-align: center;
  padding: 15px;
  box-sizing: border-box;
  width: 50%;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.flex-child:nth-of-type(2) {
  background: #ddd;
}

.kod-photo {
  border: none;
  border-radius: 50px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  margin-top: 30px;
  margin-bottom: 60px;
}

/* form */

.feedback-form-block {
  margin-top: 60px;
  margin-bottom: 20px;
}

.feedback-form {
  border: none;
  border-radius: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

.feedback-form label {
  font-size: 18px;
}

.feedback-form input[type='text'],
.feedback-form input[type='number'],
.feedback-form select,
.feedback-form input[type='tel'] {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  margin-top: 8px;
  border: none;
  border-radius: 50px;
  background-color: #faf5f5;
  font-size: 16px;
  transition: background-color 0.3s;
}

.feedback-form select {
  appearance: none;
}

.feedback-form button {
  background-color: #1c5078;
  color: #fff;
  padding: 12px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  width: 100%;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.feedback-form button:hover {
  background-color: #0a3556;
}

/* Carousel */
.carousel-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel {
  display: flex;
  animation: slideShow 60s infinite;
}

.carousel img {
  flex: 0 0 100%;
  /* Обязательное свойство для равномерного распределения изображений */
  height: auto;
  object-fit: cover;
}

@keyframes slideShow {

  0%,
  100% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(-200%);
  }

  75% {
    transform: translateX(-300%);
  }
}

/* call button */

.call-button-container {
  text-align: center;
}

.call-button {
  background-color: #4ab7a9;
  color: #fff;
  width: 60%;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
  cursor: pointer;
  animation: pulse 2.3s infinite;
}

.call-button p {
  margin: 1px;
}

@keyframes pulse {

  0%,
  100% {
    transform: scale(1);
  }

  15% {
    transform: scale(1.1);
  }

  22% {
    transform: scale(1);
  }
}

/* Медиа-запрос для адаптивности */
@media (max-width: 800px) {
  .ul-2-cols {
    grid-template-columns: 1fr;
    /* Одна колонка на мобильных */
  }

  .carousel img {
    max-width: 100%;
    /* Полная ширина на экранах до 800px */
  }

  .feedback-form {
    border: none;
    border-radius: 50px;
    padding-left: 40px;
    padding-right: 40px;
  }
}