/* Carousel */
.carousel_container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel_photo {
    height: auto;
    border: none;
    border-radius: 50px;
    margin-top: 30px;
    margin-bottom: 60px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Медиа-запрос для адаптивности */
@media (max-width: 800px) {
    .carousel_photo {
        max-width: 100%;
        /* Полная ширина на экранах до 800px */
    }
}