/* Carousel */
.carousel_container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel_container::before {
    content: "\II";
    /* Здесь используется символ паузы */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 14px;
    padding: 20px 30px;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 9999;
}

.carousel_container:hover::before {
    opacity: 0.6;
}


.carousel_photo {
    height: auto;
    border: none;
    border-radius: 50px;
    margin-top: 30px;
    margin-bottom: 60px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Медиа-запрос для адаптивности */
@media (max-width: 800px) {
    .carousel_photo {
        max-width: 100%;
        /* Полная ширина на экранах до 800px */
    }
}