.call_button {
    background-color: #4ab7a9;
    color: #fff;
    width: 60%;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    cursor: pointer;
    animation: pulse 2.3s infinite;
}

.call_button p {
    margin: 1px;
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
    }

    15% {
        transform: scale(1.1);
    }

    22% {
        transform: scale(1);
    }
}