.title {
  font-family: 'Amatic SC', cursive;
  text-align: center;
  font-size: 30px;
  margin: 0px;
  padding-bottom: 5px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hashtag {
  margin-left: 20px;
}