.root {
  h1 {
    margin-bottom: 32px;
  }

  background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.9)),
  url('/directions_fon.png');
  background-size: cover;
  color: #000000;
}


.container {
  max-width: 900px;
  margin: auto;
}

.direction_title {
  font-size: 20px;
  font-weight: 500;
}

.direction_description {
  font-size: 18px;
  font-weight: 400;
}

.direction_image_block {
  border: none;
  border-radius: 50px;
  object-fit: cover;
}

.ul_2_cols {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  /* Increased gap for a more spacious look */
}

.ul_2_cols li {
  position: relative;
  border-radius: 10px;
}

.ul_2_cols li>div {
  display: flex;
  align-items: center;

  /* Add spacing between icon and text */
  gap: 15px;
}

/* Media query for responsiveness */
@media (max-width: 800px) {
  .ul_2_cols {
    grid-template-columns: 1fr;
    margin-left: 10px;
    margin-right: 10px;
  }
}