.root {
  h1 {
    margin-bottom: 32px;
  }
}

.ul_2_cols {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  /* Increased gap for a more spacious look */
}

.ul_2_cols li {
  position: relative;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  }
}

.ul_2_cols li > div {
  display: flex;
  align-items: center;

  /* Add spacing between icon and text */
  gap: 15px;
}

/* Media query for responsiveness */
@media (max-width: 800px) {
  .ul_2_cols {
    grid-template-columns: 1fr;
    margin-left: 10px;
    margin-right: 10px;
  }
}
